{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'assets/css/registro.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!--NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'autos:index' %}">
                <img src="{% static 'assets/IMG/Logo.webp' %}" alt="AUTOSDELMAR">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                    aria-controls="navbarda" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'autos:index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'autos:acerca' %}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'autos:cuenta' %}">Cuenta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'autos:mantencion' %}">Mantencion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'autos:productos' %}">Productos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--REGISTRO-->
    <br>
    <div class="container" style="max-width: 650px; min-width: 400px;">
        <div class="card">
            <h2 class="card-header text-center">Nueva Cuenta</h2>
            <div class="card-body">
                <form method="post" action="{% url 'autos:registro' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-success" value="Registrar">
                    <input type="reset" class="btn btn-danger" value="Borrar todo">
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'assets/js/registrar.js' %}"></script>
</body>
</html>
