{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sedan RTD</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/css/productos.css">
</head>

<body>
  <!--NAVBAR -->
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">
        <img src="./assets/IMG/Logo.webp" alt="AUTOSDELMAR">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
        aria-controls="navbarda" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">Inicio
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./Acerca.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./cuenta.html">Cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mantencion.html">Mantencion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./usuario/Productos.html">Productos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

  <!--Productos-->>
  <div class="container">
    <h1>Autos sedan que puedes encontrar.</h1>

    <div class="product">
      <img src="./assets/IMG/hondacivic.jpg" alt="Honda Civic">
      <h2>Honda Civic</h2>
      <p>Precio: $24.890.000</p>
      <p>Descripción: Un símbolo de confiabilidad y estilo. Con frenos ABS para una conducción segura en todo momento.
        Experimenta la emoción de la carretera con la combinación perfecta de rendimiento y elegancia en el Honda Civic
      </p>
      <button class="buy-button btn btn-success" data-product="1">Cotizar</button>
      <a href="/hondacivic.html" class="btn btn-primary">Ver Detalles</a>
    </div>

    <div class="product">
      <img src="./assets/IMG/hyundaielantra.jpg" alt="hyundai elantra">
      <h2>Hyundai Elantra</h2>
      <p>Precio: $18.200.000</p>
      <p>Descripción: Elegancia y rendimiento en un vehículo compacto. Con frenos ABS para una conducción segura en cada
        viaje. Descubre la armonía entre estilo y tecnología en el Hyundai Elantra.</p>
      <button class="buy-button btn btn-success" data-product="2">Cotizar</button>
      <a href="/hyundaielantra.html" class="btn btn-primary">Ver Detalles</a>
    </div>

    <div class="product">
      <img src="./assets/IMG/kiacerato.jpg" alt="kia cerato">
      <h2>Kia Cerato</h2>
      <p>Precio: $18.750.000</p>
      <p>Descripción: Sofisticación y dinamismo en un sedán compacto. Equipado con frenos ABS para una conducción segura
        en todas las condiciones. Descubre el equilibrio perfecto entre estilo y rendimiento con el Kia Cerato.</p>
      <button class="buy-button btn btn-success" data-product="3">Cotizar</button>
      <a href="/kiracerato.html" class="btn btn-primary">Ver Detalles</a>
    </div>

    <div class="product">
      <img src="./assets/IMG/toyotacorolla.jpg" alt="toyota corolla">
      <h2>Toyota Corolla</h2>
      <p>Precio: $19.500.000</p>
      <p>Descripción: Un ícono de confiabilidad y eficiencia. Con frenos ABS para una conducción segura en cualquier
        situación. Experimenta la calidad y durabilidad legendaria de Toyota en el Toyota Corolla.</p>
      <button class="buy-button btn btn-success" data-product="4">Cotizar</button>
      <a href="/toyotacorolla.html" class="btn btn-primary">Ver Detalles</a>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="./assets/js/motos.js"></script>
</body>

</html>