/*Img Navbar*/
.container-fluid{
    img{
      width: 120px;
      height: 100px;
    }
  }
  /* Aqui termina */

  /* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/* Estilos para la imagen */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Estilos para el contenido del producto */
h1 {
    color: #dc3545; /* Rojo */
}

p {
    font-size: 18px;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #343a40; /* Gris oscuro */
}

.navbar-brand {
    color: #fff; /* Blanco */
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link:hover {
    color: #ffc107; /* Amarillo */
}
