* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-image: url("https://cdn.pixabay.com/photo/2015/09/09/19/56/office-932926_1280.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  img {
    display: block;
    width: 100%;
  } 