{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar, Editar o Eliminar</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/agreoelimadmin.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
  
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'autos:index' %}">
            <img src="{% static 'assets/img/Logo.webp' %}" alt="AUTOSDELMAR">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarda" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'autos:index' %}">Inicio
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'autos:acerca' %}">Nosotros</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                <li></i> Hola {{user.username}} &nbsp;&nbsp; <a href="{% url 'close_session' %}"
                        style="color:white;"> <br> Cerrar sesión</a></li>
                        {% else %}
                        <p>que haces aqui ???</p>
                        {% endif %}
                        {% else %}
                        <a class="nav-link" href="{% url 'autos:cuenta' %}">Cuenta</a>
                {% endif %}
               
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'autos:mantencion' %}">Mantención</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'autos:productos' %}">Productos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% if user.is_authenticated %}
  {% if user.is_superuser %}

  <header id="header">
    <h1>Agregar, Editar, Eliminar</h1>
  </header>

  <main>
    <div class="contenedor">
      <!-- Añadir -->
      <div class="añadir">
        <h2>Añadir</h2>
        <form method="post" action="{% url 'autos:manage_product' %}">
            {% csrf_token %}
            <label>Nombre del producto</label>
            <input type="text" name="nombre_del_producto" required>
            <label>Valor del producto</label>
            <input type="number" name="valor_del_producto" required>
            <label>Existencia</label>
            <input type="number" name="existencia_del_producto" required>
            <label>Url Imagen</label>
            <input type="text" name="url_imagen" required>
            <input type="hidden" name="action" value="add">
            <input class="button" type="submit" value="Añadir">
        </form>
    </div>
      <!-- Editar -->
      <div class="editar">
        <h2>Editar</h2>
        <form method="post" action="{% url 'autos:manage_product' %}">
          {% csrf_token %}
          <label>Nombre del producto</label>
          <select id="productoEditar" name="producto_a_editar" required>
            <option value="">Selecciona una opción</option>
            {% for producto in productos %}
            <option value="{{ producto.id }}">{{ producto.nombre }}</option>
            {% endfor %}
          </select>
          <label>Atributo</label>
          <select id="atributoEditar" name="atributo_a_editar" required>
            <option value="nombre">Nombre</option>
            <option value="valor">Valor</option>
            <option value="existencia">Existencia</option>
            <option value="url_imagen">Url Imagen</option>
          </select>
          <label>Nuevo valor</label>
          <input type="text" id="nuevoAtributo" name="nuevo_valor" required>
          <input type="hidden" name="action" value="edit">
          <input class="button" type="submit" id="botonEditar" value="Editar">
        </form>
      </div>
      <!-- Eliminar -->
      <div class="eliminar">
        <h2>Eliminar</h2>
        <form method="post" action="{% url 'autos:manage_product' %}">
          {% csrf_token %}
          <label>Nombre del producto</label>
          <select id="productoEliminar" name="producto_a_eliminar" required>
            <option value="">---</option>
            {% for producto in productos %}
            <option value="{{ producto.id }}">{{ producto.nombre }}</option>
            {% endfor %}
          </select>
          <input type="hidden" name="action" value="delete">
          <input class="button" type="submit" id="botonEliminar" value="Eliminar">
        </form>
      </div>

    </div>
    <!-- Productos -->
    <div class="contenedorProductos">
      <h2>Productos</h2>
        <ul>
          <div class="mostrarProductos" id="mostrarProductos"></div>
            {% for producto in productos %}
              <div class="mostrarProductos" id="mostrarProductos">
                <div>
                  <img src="{{ producto.url_imagen }}">
                    <h3 style="text-align: center;">{{ producto.nombre }}</h3>
                    <p style="text-align: center;">Valor: {{ producto.valor }}</p>
                    <p style="text-align: center;">Existencia: {{ producto.existencia }}</p>
                </div>
                {% endfor %}

              </div>
              </ul>
            </div>
          </div>
    </div>
  </main>

  <!--fuin                                       -->


        {% else %}
        <h1>Bienvenido, {{ user.username }}&nbsp;&nbsp; </h1>
          <h2 style="color: white; background-color: black;">Tu no eres administrador sal de aca >:v</h2>
      
      {% endif %}
 {% else %}
 <h1 style="color: white;">Inicia sesión para acceder al CRUD</h1>

{% endif %}




  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <script type="module" src="{% static 'assets/js/agreoeliadmin.js' %}"></script>
</body>

</html>
